*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
 display: flex;
 align-items: center;
 justify-content: center; 
 flex-direction: column;
}


.App{
  text-align: center;
}

.input{
  margin: 1em;
}

.cards{
  margin: 1em;
}
.input{
  border: 2px solid black;
  padding: 0.8em;
  border-radius: 8px;
}

.input button{
  margin: 0.5em;
  color: grey;
  background-color:yellowgreen;
  border: 1px solid grey;
  border-radius: 8px;
  padding: .7em 0.4em;
  cursor: pointer;
}
.input button:hover{
    background-color: grey;
    color: yellowgreen;
    transition: 1s;
}

.input input{
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 0.4em;
  font-size: 1.2em;
  outline: none;
}

.items{
  width: 21em;
border: 2px solid black;
background-color: gold;
margin: 0.8em;
border-radius: 7px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 0.8em;
font-size: 1.2em;
font-weight: bold;
cursor: pointer;
}
.items:hover{
  background-color: rgb(157, 207, 157);
  transition: 1s;
}

.items input{
  height: 1.2em;
  cursor: pointer;
  background: none;
}

.items button{
  background:none;
  border: none;
  font-size: larger;
  cursor: pointer;
}
.containerList{
  border-top-style: dashed;
}



@media only screen and (max-width:565px) {
  .container{
    width: auto;
  }
  .items{
    font-size: 1em;
    width: auto;
    margin: 2em;
  }

  .items span{
      margin:0 1em;
  }
  .input{
    width: auto;
    margin: 2em;
    /* transform: scale(0.6); */
  }
}





